#export QT_QPA_PLATFORMTHEME=gnome
#export SAL_USE_VCLPLUGIN=kde5
if [ "$XDG_CURRENT_DESKTOP" = "KDE"  ]; then export GTK_USE_PORTAL=1; fi
if [ "$XDG_CURRENT_DESKTOP" = "i3"  ]; then export QT_QPA_PLATFORMTHEME=gnome; fi

